gauss_quad.o
Input_commands.o
legendre_quadrature.o
main.o
Mathematical_Functions.o
sphere_lebedev_rule.o
String_ops.o
RHO2_OPS
chimpanC
psi4intface
RHO2_OPS.tar.gz
gitver.cpp
gitver.h
gitver.o
diracintface
diracintfaceh5
